<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
</head>

<body>
    <header class="header">
        <h1>Embark on Bob's Beer Journey</h1>
    </header>
    <section>
        <h2>About</h2>
        <p>Discover the world of beers, flavors, and insights as Bob travels the globe!</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>Bob's Beer Journey is a project that aims to provide insights into the world of beers. We aim to provide a fun and interactive way to learn about different types of beers, their flavors, and the stories behind them. Join Bob as he travels the globe to discover the best beers and share his insights with you!</p>
    </section>
    <section>
        <a href="/semantic-analysis-1.html" style="font-family: Arial, sans-serif; color: #ffdeb8; display: block; font-size: 24pt; margin-bottom: 10px;">Semantic Analysis 1</a>
        <a href="/semantic-analysis-2.html" style="font-family: Arial, sans-serif; color: #ffdeb8; display: block; font-size: 24pt; margin-bottom: 10px;">Semantic Analysis 2</a>
        <a href="/semantic-analysis-3.html" style="font-family: Arial, sans-serif; color: #ffdeb8; display: block; font-size: 24pt; margin-bottom: 10px;">Semantic Analysis 3</a>
        <a href="/semantic-analysis-4.html" style="font-family: Arial, sans-serif; color: #ffdeb8; display: block; font-size: 24pt; margin-bottom: 10px;">Semantic Analysis 4</a>
    </section>
    <section>
        <h2>Meet the Team</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="../assets/images/team/alexaaaandre.jpg" alt="Alex">
                <h3>Alex</h3>
                <p>Beer Enthusiast</p>
            </div>
            <div class="team-member">
                <img src="../assets/images/team/poopoofairy.jpg" alt="Julie">
                <h3>Julie</h3>
                <p>Beer Connoisseur</p>
            </div>
            <div class="team-member">
                <img src="../assets/images/team/andrew.jpg" alt="Andrew">
                <h3>Andrew</h3>
                <p>Beer Expert</p>
            </div>
            <div class="team-member">
                <img src="../assets/images/team/anomaly.jpg" alt="Amelie">
                <h3>Amélie</h3>
                <p>Beer Taster</p>
            </div>
            <div class="team-member">
                <img src="../assets/images/team/kenza.jpg" alt="Kenza">
                <h3>Kenza</h3>
                <p>Beer Amateur</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        &copy; 2024 Beer Insights Team
    </footer>
</body>
</html>