<!DOCTYPE html>
<html lang="en">
<script src="/assets/scripts/transitions.js"></script>
<link rel="stylesheet" href="/assets/css/funfacts.css">

{%- include head.html -%}

<body>
  <!-- Header Section -->
  <header>
    <h1> ADD COMMUTE ANIM !!!</h1>
  </header>

  <!-- Navigation buttons Section -->
{%- include navigation.html -%}

  <!-- Content Section -->
  <main class="content">
    <div>
    <h2>{{ page.title }}</h2>
    <p>{{ page.subtitle }}</p>
      {{ content }}
    </div>
  </main>
  
</body>
</html>