<!DOCTYPE html>
<html lang="en">
<script src="/assets/scripts/transitions.js"></script>

{%- include head.html -%}

<body>
  <!-- Header Section -->
{%- include header.html -%}

  <!-- Content Section -->
  <main>
    <div class="content">
    <h2>{{ page.title }}</h2>
    <p>{{ page.subtitle }}</p>
      {{ content }}
    </div>
  </main>

  <!-- Navigation Section -->
  <footer>
    <div id="navigation-buttons">
        {% if page.previous %}
        <a class="nav-button" href="{{ page.previous | relative_url }}">← Previous</a>
        {% endif %}
  
        {% if page.next %}
        <a class="nav-button" href="{{ page.next | relative_url }}">Next →</a>
        {% endif %}
      </div>
  </footer>


</body>
</html>