body {
    opacity: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 202, 202);
    height: 100px;
}


.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}