<div id="wordcloud-container" style="text-align: center;">
    <label for="beer-style-select" style="font-weight: bold; font-size: 15pt">Select a Beer Style:</label>
    <select id="beer-style-select" style="margin: 10px; padding: 5px; font-size: 13pt;">
        {% assign figure_files = site.static_files | where: "figure", true %}
        {% for myfigure in figure_files %}
            {% if myfigure.path contains include.content %}
                <option value='{{myfigure.name | replace: ".svg", ""}}'>{{myfigure.name | replace: ".svg", ""}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div id="image-container" style="margin: 20px 20px;">
        <img id="wordcloud-image" src="{{site.baseurl}}/assets/figures/{{include.content}}/{{figure_files[0]}}" alt="Word Cloud" style="max-width: 100%; height: auto; visibility: visible;">
        <div id="loading-spinner" style="position: absolute; top: 50%; left: 55%; transform: translate(-50%, -50%) scale(0.5); display: none;">
            <img src="{{'/assets/icons/loading-spinner.webp' | relative_url }}" alt="Loading...">
        </div>
    </div>
</div>

<script src="{{'/assets/scripts/plot_handling.js' | relative_url}}"></script>
