<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<header>
  <div class="timeline-container">
    <div class="background-image-container">
        <img src="{{ '/assets/images/asthetic/arrow.png' | relative_url }}" alt="Timeline">
    </div>
    <a href="/storyline/funfact-1/" class="button">
        <img src="/assets/images/gifs/train.gif" alt="Train">
    </a>
    <a href="/storyline/funfact-2/" class="button">
        <img src="/assets/images/gifs/boat.gif" alt="Boat">
    </a>
    <a href="/storyline/funfact-3/" class="button">
        <img src="/assets/images/gifs/Plane.gif" alt="Plane">
    </a>
    <a href="/storyline/funfact-4/" class="button">
        <img src="/assets/images/gifs/vw.gif" alt="Car">
    </a>
    <a href="/storyline/analysis-1/" class="button special-button"></a>
    <a href="/storyline/analysis-2/" class="button special-button"></a>
    <a href="/storyline/analysis-3/" class="button special-button"></a>
    <a href="/storyline/analysis-4/" class="button special-button"></a>
    <a href="/storyline/" class="button">
      <img src="/assets/images/asthetic/country_pins/switzerland.png" alt="Switzerland">
    </a>
    <a href="/storyline/analysis-1/" class="button">
      <img src="/assets/images/asthetic/country_pins/united-kingdom.png" alt="United Kingdom">
    </a>
    <a href="/storyline/analysis-2/" class="button">
      <img src="/assets/images/asthetic/country_pins/belgium.png" alt="Belgium">
    </a>
    <a href="/storyline/analysis-3/" class="button">
      <img src="/assets/images/asthetic/country_pins/canada.png" alt="Canada">
    </a>
    <a href="/storyline/analysis-4/" class="button">
      <img src="/assets/images/asthetic/country_pins/united-states.png" alt="United States">
    </a>
    <a href="/about/" class="button">
      <img src="/assets/images/asthetic/house.png" alt="House">
    </a>
  </div>
</header>
