<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{'/assets/css/style.css' | relative_url}}">
</head>

<header>
  <div class="timeline-container">
    <div class="background-image-container">
        <img src="{{ '/assets/images/asthetic/arrow.png' | relative_url }}" alt="Timeline">
    </div>
    <a href="{{'/storyline/funfact-1' | relative_url}}" class="button">
        <img src="{{'/assets/images/gifs/train.gif' | relative_url}}" alt="Train">
    </a>
    <a href="{{'/storyline/funfact-2' | relative_url}}" class="button">
        <img src="{{'/assets/images/gifs/boat.gif' | relative_url}}" alt="Boat">
    </a>
    <a href="{{'/storyline/funfact-3' | relative_url}}" class="button">
        <img src="{{'/assets/images/gifs/plane.gif' | relative_url}}" alt="Plane">
    </a>
    <a href="{{'/storyline/funfact-4' | relative_url}}" class="button">
        <img src="{{'/assets/images/gifs/vw.gif' | relative_url}}" alt="Car">
    </a>
    <a href="{{'/storyline/semantic-analysis' | relative_url}}" class="button special-button"></a>
    <a href="{{'/storyline/seasonality-analysis' | relative_url}}" class="button special-button"></a>
    <a href="{{'/storyline/polarizing-analysis' | relative_url}}" class="button special-button"></a>
    <a href="{{'/storyline/climate-related-analysis' | relative_url}}" class="button special-button"></a>
    <a href="{{'/storyline' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/country_pins/switzerland.png' | relative_url}}" alt="Switzerland">
    </a>
    <a href="{{'/storyline/semantic-analysis' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/country_pins/united-kingdom.png' | relative_url}}" alt="United Kingdom">
    </a>
    <a href="{{'/storyline/seasonality-analysis' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/country_pins/belgium.png' | relative_url}}" alt="Belgium">
    </a>
    <a href="{{'/storyline/polarizing-analysis' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/country_pins/canada.png' | relative_url}}" alt="Canada">
    </a>
    <a href="{{'/storyline/climate-related-analysis' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/country_pins/united-states.png' | relative_url}}" alt="United States">
    </a>
    <a href="{{'/' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/house.png' | relative_url}}" alt="House">
    </a>
    <a href="{{'/storyline/conclusion' | relative_url}}" class="button">
      <img src="{{'/assets/images/asthetic/epfl.png' | relative_url}}" alt="EPFL">
    </a>
  </div>
</header>
