<div class="sidebar">
    <div class="nav-logo">
        ☰ &nbsp Find your way
    </div>

    {% assign active_class = page.permalink | split: "/" | last %}

    {% assign pages = "about, funfact-1, semantic-analysis, funfact-2, seasonality-analysis, funfact-3, polarizing-analysis, funfact-4, climate-related-analysis, conclusion" | split: ", " %}
    {% assign item_names = "About, Fun Fact #1, Semantic Analysis, Fun Fact #2, Seasonality Analysis, Fun Fact #3, Polarizing Beer Analysis, Fun Fact #4, Climate-Related Analysis, Conclusion" | split: ", " %}

    <ul class="nav-list">

        {% for i in (0..9) %}
            {% if active_class == pages[i] %}
                <li class="active">
                    <a onclick="transitionToPage('{{site.baseurl}}/storyline/{{ pages[i] }}')"><span class="icon">🍻</span> {{ item_names[i] }}</a>
                </li>
            {% else %}
                <li>
                    <a onclick="transitionToPage('{{site.baseurl}}/storyline/{{ pages[i] }}')"><span class="icon"></span> {{ item_names[i] }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
