<div class="timeline-container">
    <div class="background-image-container">
        <img src="{{ '/assets/images/asthetic/arrow.jpg' | relative_url }}" alt="Timeline">
    </div>
    <a href="path/to/boat/page.html" class="button">
        <img src="/assets/images/gifs/boat.gif" alt="Boat">
    </a>
    <a href="path/to/plane/page.html" class="button">
        <img src="/assets/images/gifs/plane.gif" alt="Plane">
    </a>
    <a href="path/to/car/page.html" class="button">
        <img src="/assets/images/gifs/car.gif" alt="Car">
    </a>
    <a href="path/to/train/page.html" class="button">
        <img src="/assets/images/gifs/train.gif" alt="Train">
    </a>
    <a href="path/to/special/page.html" class="button special-button"></a>
    <a href="path/to/special/page.html" class="button special-button"></a>
    <a href="path/to/special/page.html" class="button special-button"></a>
    <a href="path/to/special/page.html" class="button special-button"></a>
</div>