/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #eeb65c, #d17b42);
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}
p {
    font-size: 1.2em;
    margin: 10px 0 30px;
} */
/* .start-btn {
    font-size: 1.5em;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.start-btn:hover {
    background-color: #1f6391;
    transform: scale(1.05);
    cursor: pointer;
}
.start-btn:active {
    transform: scale(0.98);
} */
footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.9em;
    color: #ecf0f1;
}

/* Simple divider between sections */
.divider {
    border: none;
    min-height: 3px;
    background-color: #ababab;
    width: 60%;
    margin: 20px 0; /* Adjust the margin as needed */
    align-self: center;
}

/* Team container styles */
.team-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    align-self: left;
}

/* Individual team member styles */
.team-member {
    flex: 1 1 15%; /* Adjust the percentage to control the width of each team member */
    min-width: fit-content;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Team member image styles */
.team-member img {
    width: 100%;
    height: auto;
    max-width: 150px; /* Adjust the max-width to make the images smaller */
    border-radius: 50%; /* Optional: makes the images circular */
    margin-bottom: 15px;
}

/* Team member name styles */
.team-member .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Team member student number styles */
.team-member .master-section {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

/* Team member master section styles */
.team-member .student-number {
    font-size: 0.9em;
    color: #999;
}