body {
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 141, 168);
    height: 120px;
    position: fixed;
    width: 100%
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex: 1;
    top: 120px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-family: 'Inter';
    justify-content: stretch;
    align-items: stretch;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    align-items: stretch;
    flex-grow: 1; /* Allow content to grow */
    padding: 20px 75px 0px 75px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
}

#nav-sidebar {
    display: flex;
    width: 250px;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: stretch;
    justify-content: stretch;
}

/* For dropdown plots if any */
#beer-style-select {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#wordcloud-image {
    border: 2px solid #2980b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}
