body {
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    background-color: rgb(198, 198, 198);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 141, 168);
    height: 120px;
    position: fixed;
    width: 100%
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex: 1;
    top: 120px;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0px;
    font-family: 'Inter';
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: stretch;
    flex-grow: 1; /* Allow content to grow */
    width: auto; /* Auto width */
    padding: 20px 50px 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

#nav-sidebar {
    width: 200px;
    flex-shrink: 0;
    height: 100%;
}

/* For dropdown plots if any */
#beer-style-select {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#wordcloud-image {
    border: 2px solid #2980b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

#wordcloud-image:hover {
    transform: scale(1.05);
}