<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ /assets/css/header.css | relative_url }}">
    <link rel="stylesheet" href="{{/assets/css/about.css | relative_url }}">
</head>
<script src="{{ /assets/scripts/transitions.js | relative_url }}"></script>

<body>
    <!-- Navigation buttons Section -->
    {%- include navigation.html -%}
    <header class="header">
        <h1>Embark on Bob's Beer Journey</h1>
    </header>
    <section>
        <h2>About</h2>
        <p>Discover the world of beers, flavors, and insights as Bob travels the globe!</p>
    </section>
    
    <section>
        <h2>Our Mission</h2>
        <p>Bob's Beer Journey is a project that aims to provide insights into the world of beers. We aim to provide a fun and interactive way to learn about different types of beers, their flavors, and the stories behind them. Join Bob as he travels the globe to discover the best beers and share his insights with you!</p>
    </section> 

    <span onclick="transitionToPage('/storyline/funfact-1')" class="start-btn">Let's go! </span>

    <!-- Divider -->
    <hr class="divider">
    
    <!-- Team members section -->
    <h2 style="margin-top: 0px">Meet the Team</h2>
    <div class="team-container">
        <div class="team-member">
            <div class="name">Alex</div>
            <div class="master-section"> Robotics </div>
            <div class="student-number">368443</div>
        </div>
        <div class="team-member">
            <div class="name">Andrew</div>
            <div class="master-section"> Robotics </div>
            <div class="student-number"> XXXXX </div>
        </div>
        <div class="team-member">
            <div class="name">Julie</div>
            <div class="master-section"> CSE </div>
            <div class="student-number"> XXXXX </div>
        </div>
        <div class="team-member">
            <div class="name">Amelie</div>
            <div class="master-section"> Life Sciences </div>
            <div class="student-number"> XXXXX </div>
        </div>
        <div class="team-member">
            <div class="name">Kenza</div>
            <div class="master-section"> Life Sciences </div>
            <div class="student-number"> XXXXX </div>
        </div>
    </div>
    <section>
        <div style="margin-bottom: 40px"></div>
    </section>
</body>
</html>