<!DOCTYPE html>
<html lang="en">
    <script src="{{ '/assets/scripts/transitions.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/beer_reveal.js' | relative_url }}"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link rel="stylesheet" href="{{ '/assets/css/analysis.css' | relative_url }}">
<link rel="stylesheet" href="{{'/assets/css/sidebar.css' | relative_url }}">
<link rel="stylesheet" href="{{'/assets/css/reveal.css' | relative_url }}">

{%- include head.html -%}

<body>
    <div class="main-content">
        <div id="nav-sidebar">
            {%- include sidebar.html -%}
        </div>
        
        <!-- Content Section -->
        <div class="content">
            <h2>{{ page.title }}</h2>
            {% if page.subtitle != "" %}
            <p>{{ page.subtitle }}</p>
            {% endif %}
            {{ content }}
            
            <!-- Beer Reveal Section -->
        <div class="popup-container">
            <div class="popup-content">
                <h2 align="center">✨ Top 3 beers! ✨</h2>
                <h3> For <em>American Double / Imperial IPA</em> style </h3>
                <p><strong>1: </strong> Dinner ( from <em>Maine</em> )</p>
                <p><strong>2: </strong> Sip Of Sunshine IPA ( from <em>Vermont</em> )</p>
                <p><strong>3: </strong> Swish ( from <em>Maine</em> )</p>
                <button class="close-btn" onclick="closePopup()">Close</button>
            </div>
        </div>
        <div class="reveal-container">
            <p>Click the button below to reveal the top beer picks for Satellite Bar!</p>
            <button class="reveal-button" onclick="showPopup()">Reveal the Beers</button>
        </div>

    <!-- Navigation buttons Section -->
    {%- include navigation.html -%}
</div>
</div>

</body>
</html>