<!DOCTYPE html>
<html lang="en">
<script src="{{ '/assets/scripts/transitions.js' | relative_url }}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob's Beer Journey</title>
    <link rel="stylesheet" href="{{ '/assets/css/home_style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>Embark on Bob's Beer Journey</h1>
        <p>Discover the world of beers, flavors, and insights as Bob travels the globe!</p>
    </header>
    <span onclick="transitionToPage('/about')" class="start-btn">Start the Journey</span>
    <img src="{{ '/assets/images/asthetic/vw_van_home_clipart.png' | relative_url }}" alt="Bob's Magic Van">
    <footer>

    </footer>
</body>
</html>
